<% if logged_in? and (current_user == @post.creator) %>
  <%= link_to "Edit Post", edit_post_path(@post) %>
<% end %>   

<div id="post-<%= @post.id %>">
  <small class='quiet text-left'> On <%= display_datetime(@post.created_at) %></small>
  </br>
  </br>
  <div class="well">
    <p>
      <%= @post.description %>
    </p>
    <footer>
      <span class='quiet'>
        status by
        <%= link_to @post.creator.username, user_path(@post.creator) %>
      </span> 
    </footer>
  </div>     
  <hr>
  </br>  
</div>

<% if logged_in? %>
  <%= form_for [@post, @signup] do |f| %>
    <%= f.hidden_field :username, :value => "#{current_user.username}" %>
    <%= f.hidden_field :email, :value => "#{current_user.email}" %>
    <%= f.submit "Sign up with your username and email by clicking this button.", class: "btn btn-primary" %>
  <% end %>
<% end %>


